* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #efefef;
}

.App {
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.left-side-container {
  width: calc(100% - (70% + 20px));
}

.middle-space-container {
  width: 20px;
}

.right-side-container {
  width: 70%;
}

.heading1 {
  font-size: 24px;
  font-weight: 600;
}

.heading2 {
  font-size: 18px;
  font-weight: 600;
}

.heading3 {
  font-size: 14px;
  font-weight: 600;
}

.normal-fontweight {
  font-weight: 400;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.card-container {
  background: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px, rgb(0 0 0 / 4%) 0px 10px 10px;
  border-radius: 16px;
  overflow: hidden;
  animation: 300ms ease-in 0s 1 container-load;
}

.quick-loading {
  animation: 300ms ease-in 0s 1 load;
}

.loading {
  animation: 1000ms ease-in 0s 1 load;
}

.p-20 {
  padding: 20px;
}

.tech-container{
  display: flex;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.tech-progress {    
    margin-left: 15px;
    width: calc(100% - 47px);
    height: 0.4rem;
    border-radius: 10px;
    overflow: hidden;
    background: #C4C4C4;
}

.tech-value{
    background: #1565ff;
    height: 0.4rem;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes container-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 767px) {
  .left-side-container,
  .right-side-container {
    width: 100%;
  }
  .left-side-container {
    margin-bottom: 20px;
  }
}
